.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  text-align: center !important;
  align-items: center;
  background-color: #0a86e7;
  color: white;
  font-weight: 600;
}
.toolbar img {
  margin: 0 16px;
}
