<mat-tab-group>
  <mat-tab label="Today">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef> Temperature </th>
        <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="rain">
        <th mat-header-cell *matHeaderCellDef>  Rain </th>
        <td mat-cell *matCellDef="let element"> {{element.rain}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="windspeed">
        <th mat-header-cell *matHeaderCellDef> Windspeed </th>
        <td mat-cell *matCellDef="let element"> {{element.windspeed}}  </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="relativehumiditys">
        <th mat-header-cell *matHeaderCellDef> relativehumiditys </th>
        <td mat-cell *matCellDef="let element"> {{element.relativehumiditys}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>

</mat-tab-group>



